<form [formGroup]="fg"
(ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
<div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" [formControl]="fg.controls['nombre']">
    <div [ngStyle]="{'color': 'red'}" *ngIf="fg.controls['nombre'].hasError('required')">Debes poner un nombre</div>
</div>

<div class="form-group">
    <label for="Imagen Url">Imagen Url</label>
    <input type="text" class="form-control" id="ImagenUrl" [formControl]="fg.controls['url']">
</div>
<button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar</button>
</form>