<!--p>*{{nombre}}</p-->
    <div	class="card-content">
        <div	class="card-img">
            <img	src="https://placeimg.com/380/230/nature"	alt="">
            <span><h4>{{posicion}}</h4></span>            
        </div>
        <div	class="card-desc">
            <h3>{{destino.nombre}}</h3>
            <p>Lorem	ipsum	dolor	sit	amet	consectetur,	adipisicing	elit.	Laboriosam,	voluptatum!	Dolor	
quo,	perspiciatis voluptas	totam</p>
            <a	href="#"class="btn-card" (click)='ir()'>Elegir</a>
            <!--span [style.display]= "destino.isSelected() ? '':'none'">Preferido</span-->
            <span *ngIf= "destino.isSelected()">Preferido</span>
            <br><br>
            <a [routerLink]="['/destinos']">Detalles</a>			
        </div>
    </div>

