<div class="page-header">
  <div class="container">
    <div class="navLinks">
      <a [routerLink]="['/home']">Home - </a>
      <a [routerLink]="['/destinos']">Destinos - </a>
    </div>
  </div>
</div>
<div class="container content">
  <div class="row">
    <div class="jumbotron col-md-12" [ngStyle]="{'font-size': '50px' }">Angular Wishlist</div>
    <!--app-destino-viaje></app-destino-viaje-->
  </div>
  <!--div><app-lista-destinos></app-lista-destinos></div-->
  <div><router-outlet></router-outlet></div>
</div>

<hr class="mb-5">

Fecha: {{time | async}}